* {
	margin: 6;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
    background-color:
    black ;
}

a {
    font: 150%  times new romans;
    font-weight: bolder;
    font-size: 60;
    color:red;
}s



