@import url(‘https://fonts.googleapis.com/css?family=Poppins: wght@400;500; 600; 700; 800&display=swap’);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
    background-color:black;
}
.centrar{
    text-align: center;
}
.centrar img{
    display: inline-block;
}

img {
   weight: 600px;
   height: 650px;
}

a{
    Font-family: ‘Poppins’, sans-serif;
   font-size: 135% ;
    line-height: 4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: lette;
    margin-left: 20px;
}

